.sales {
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: space-around;

	text-align: center;
	font-size: 0.8em;
}

.sales > * {
	flex: 1 100%;
	/*border: .1px solid red;*/
	margin: 1px;
}

.sameline {
	flex: 1 auto;
	height: 10px;
	margin-top: 7px;
}

.linesame {
	flex: 1 auto;
	height: 10px;
	margin-bottom: 7px;
}

.name_goods {
	flex-grow: 6;
	text-align: left;
	padding-left: 3px;
	font: bold .9em Arial;
	background: #FFFF00;
	border-radius: 5px;
}

.TM_goods {
	flex-grow: 4;
	text-align: left;
	padding-left: 3px;
	font: italic bold .8em Arial;
	color:  #808080;
}

.img_goods {
	flex-grow: 8;
	height: 110px;
	max-width: 160px;
	margin: 0;
	padding: 3px;
}

.price_goods {
	font: bold .9em serif;
	color: red;
}

#restriction {
	border-top: 3px double blue;
	margin-top: 3px;
	padding-top: 2px;
	color: #A9A9A9;
	font-weight: 100;
}